[workspace]
channels = ["rapidsai", "conda-forge", "nvidia", "bioconda"]
name = "nucleotides-diffusion"
platforms = ["linux-64", "osx-arm64"]
version = "0.1.0"
conda-pypi-map = { "conda-forge" = "conda-forge-pypi-map.json" }


[tasks]
test = { cmd = "pytest tests/test_intervals_to_values_window_function.py -vv -k test_get_values_from_intervals_edge_case_1"}


[feature.gpu.system-requirements]
cuda = "12"

[feature.gpu.target.linux-64.dependencies]
cuda-version = "12.8.*"
pytorch-gpu = ">=2.6"
cuda-nvcc = "*"
kvikio = "<=25.08.00"

[feature.gpu.target.linux-64.pypi-dependencies]
bigwig-loader = { path = ".", editable = true }

[feature.cpu.target.osx-arm64.dependencies]
pytorch-cpu = "*"

[feature.cpu.target.linux-64.dependencies]
pytorch-cpu = "*"

[dependencies]
python = "==3.11"
pip = "*"
numpy = "*"
pandas = "*"

[pypi-dependencies]
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
universal-pathlib = "*"
fsspec = { version = "*" }
s3fs = "*"
pyfaidx = "*"
numcodecs ="*"

[feature.test.pypi-dependencies]
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-mock = "*"
mypy = "*"
aim = "==3.28.0"
pytest-asyncio = "*"
asgi-lifespan = "*"
pyBigWig = "*"

[environments]
mac = {features = ["cpu", "test"]}
gpu = {features = ["gpu", "test"]}
